@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    gap: 20px;
}

#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 5px solid rgb(69, 69, 69);
    height: 650px;
    width: 650px;
    background-color: white;
}

#clear {
    height: 50px;
    width: 150px;
}

#btnOrganizer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 80px;
    background-color: rgba(72, 68, 68, 0.753);
    border-radius: 10px;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

input {
    height: 25px;
    width: 25px;
}

label {
    color: white;
}

.gridBlock {
    height: 40px;
    width: 40px;
}

.gridBlock32 {
    height: 20px;
    width: 20px;
}

.gridBlock64 {
    height: 10px;
    width: 10px;
}

.gridBlock128 {
    height: 5px;
    width: 5px;
}